@keyframes marquee {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-100vw);
  }
}

.marquee-container {
  overflow: hidden;
  padding: 12px 0;
}

.marquee {
  display: flex;
  align-items: center;
  gap: 20px;
  white-space: nowrap;
  animation: marquee 25s linear infinite;
}

.marquee-container:hover .marquee {
  animation-play-state: paused;
}

.marquee a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}




@keyframes marquee-reviews {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee-reviews-container {
  overflow: hidden;
  padding: 12px 0;
  white-space: nowrap;
  display: flex;
  position: relative;
  width: 100%;
}

.marquee-reviews {
  display: flex;
  align-items: flex-start; /* Alineación en la parte superior */
  gap: 20px;
  animation: marquee-reviews linear infinite;
  will-change: transform;
}

.marquee-reviews-container:hover .marquee-reviews {
  animation-play-state: paused;
}

.review-card {
  background-color: white; /* Fondo uniforme */
  width: 320px; /* Tamaño fijo */
  height: 260px; /* Ajuste de altura uniforme */
  display: flex;
  justify-content: center; /* Centrar imagen horizontalmente */
  align-items: flex-start; /* Alinear arriba */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.review-card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}